*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(6, 131, 148),rgb(33, 56, 185));
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.location,.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.temperature{

    flex-direction: column;

}
.degree_section{
    align-items: center;
    display: flex;
    cursor: pointer;

}
.degree_section span{
    margin: 15px;
    font-size: 30px;

}
.degree_section h2{
    font-size: 40px;
}